* {
  box-sizing: border-box;
}

:root {
  /* Colors */
  --background-color: #f9f9f9;
  --primary-color: #f7c601;
  --secondary-color: #f701de;
  --tertiary-color: #1a01f7;

  /* Fonts */
  --primary-font: 'Amatic SC', cursive;
  --secondary-font: 'DotGothic16', sans-serif;
}

html {
  background-color: var(--background-color);
  background-image: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm33.414-6l5.95-5.95L45.95.636 40 6.586 34.05.636 32.636 2.05 38.586 8l-5.95 5.95 1.414 1.414L40 9.414l5.95 5.95 1.414-1.414L41.414 8zM40 48c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM9.414 40l5.95-5.95-1.414-1.414L8 38.586l-5.95-5.95L.636 34.05 6.586 40l-5.95 5.95 1.414 1.414L8 41.414l5.95 5.95 1.414-1.414L9.414 40z' fill='%23f7c601' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
}

body {
  font-family: var(--primary-font);
  padding: 20px;
}

a {
  color: var(--tertiary-color);
}

span {
  color: var(--secondary-color);
}

h1 {
  font-weight: 700;
  font-size: 52px;
  margin: 0;
}

.page-header {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.page-header p {
  font-size: 28px;
  margin: 0 0 40px 0;
}

.page-header a {
  margin: 0 auto;
}

.page-header a img {
  width: 100%;
  max-width: 300px;
  cursor: pointer;
  border-radius: 2px;
  border: 4px solid var(--secondary-color);
}

.pokemon-list {
  list-style-type: none;
  margin: 40px 0;
  padding: 0;
}

.pokemon-list__item {
  font-family: var(--secondary-font);
  font-size: 22px;
  display: block;
  width: 100%;
  padding: 20px 10px;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.6);
  margin-bottom: 40px;
  cursor: pointer;
  border: 2px solid var(--primary-color);
  border-radius: 2px;
  outline: none;
}

.pokemon-list__item:hover {
  background-color: rgba(255, 255, 255, 1);
}

.pokemon-list__item:active {
  border: 2px solid var(--secondary-color);
}

.page-footer {
  display: flex;
}

.page-footer__item {
  margin: 0 auto;
  font-size: 28px;
}

/* Medium devices */
@media all and (min-width: 768px) {
  .page-header {
    flex-direction: row;
    justify-content: space-between;
  }

  .pokemon-list__item {
    font-size: 28px;
  }
}

/* Large devices */
@media all and (min-width: 992px) {
  h1 {
    font-size: 72px;
  }

  .page-header p {
    font-size: 42px;
  }

  .page-header a {
    margin: 0;
  }
}

/* Extra large devices */
@media all and (min-width: 1200px) {
  body {
    max-width: 1200px;
    margin: 0 auto;
  }
}
